services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_DB: database
    ports:
      - "5442:5432"
    volumes:
      - saving_data:/var/lib/postgresql

volumes:
    saving_data:
